.inicio{
	padding-left: 0;
	padding-right: 0;
}
.text-left{
	text-align: left;
}
.house{
	margin-top: 26px;
	padding-left: 11%;
	position: relative;
	float: left;
}
a{
	color: black;
}
i {
	color:black;
}
.texto{
	position: relative;
	float: right;
	margin-right: 10px;
}
.btn{
	background: #D6D6D6;
	height: 26px;
	padding-top:1px;
	margin-right: 10px;
}
.buscador{
	margin-top: 2%;
	
}
.new{
	padding-right: 30px;
}
.pale{
	padding-right: 2%;
}
.barra{
	
}
/*segunda barra*/
.navbar-default{
	background: #D6D6D6;
	margin:0;
	border:none;
}
.nav-principal a{
	color: black;
}
/*Primera columna de contenido*/
.article{
	
	
}
.history{
	padding: 2% 5%;
	background: #848484;
	width: 46%;
	margin:5% 2% 5% 0;
	color: white;
}
.f-600{
    font-weight: 600;
    font-size: 18px;
	color: black;
	text-align: left;
}
.pd-2{
	padding: 2%;
}
i{
	padding-right: 5px;
}
.linegrey{
	background: grey;
	height: 1px;
	width:480px;
	margin: 3% 0% ;
}
.contenido{
	text-align: justify;
}
.tag{
	padding-left: 14%;
}
.boton-web {
	background-color: black;
	margin-right: 5%;
	padding: 0.5% 6%;
	color: white;
	transition:all 0.5s ease;
}
.second{
	
	padding: 0;
}
.grey{
	background:#D6D6D6;
}
.agent{
	margin-left: 10px;
	margin-bottom: 8%;
}
.agenda {
	background-color:#BDBDBD;
	color: black;
	text-align: center;
	font-size: 1.25em;
    width:20%;
    border-color: 1px solid black;
    margin-bottom: 4%;
}
.linegrey2{
	background: grey;
	height: 1px;
	width:398px;
	margin-top:27%;
}
.linegreytres{
	background: grey;
	height: 1px;
	width:266px;
	margin-top:5%;
}
.color-content{
	border-color: #888;
}
.lema{
	padding: 5% 11% 5% 5%;
}
.ultimo{

	padding: 2% 0%;
}
h5{
	font-size: 18px;
	color:black;
}
.caja{
margin-left: 4%;
margin-right: 7%;
}
/*footer*/
.color-footer{
	border-color: #888;
	border-top: solid 5px;
	padding: 2% 0 5% 0;
}
.sectores, .suscripciones, .we, .contact{
	height: 175px;
}
.lateral  {
	font-size: 15px;
	font-weight: bold;
}
.ipsum{
	font-size: 12px;
	margin-top: 1px;
}
/*media queries*/
@media  screen and (min-width:320px)and (max-width: 600px) {
	.buscador{
		display: none;
	}
	.house{
		position: relative;
		float: right;
		top:-60px;
		margin-bottom: -40px;
	}
	.grey{
		padding: 0% 2%;
	}

	.navbar-default {
	    width:100%;
	    font-size: 0.9em;
    }
    .color-content{
    	padding:2%  0%;
    }
    .linegrey2{
    	width: 600px;
    }
   .enero{
   	padding: 0% 5%;
   }
   	.nav-tabs>li{
		float: none
	}
}
@media  screen and (min-width:601px)and (max-width: 768px) {
	
    .buscador{
		display: none;
	}
     .house{
		position: relative;
		float: right;
		top:-60px;
		margin-bottom: -40px;
	}
	.navbar-default {
	    width:100%;
	    font-size: 0.9em;
    }

    .second{
     padding-left: 3%;
    }

    .linegrey{
    	width:40px
    }
   	.buscador{
   		display: none;
   	}
   	.sectores{
   		margin: 0%;

   	}
}

@media  screen and (min-width: 1200px){


}
